/* Side Menu */

@mixin menu-wrapper {
  background: $primary;
  overflow: hidden;
}

@mixin menu-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin menu-nav-item-a {
  text-decoration: none;
  color: $white;
}

.menu-nav > .menu-brand {
  & {
    background: fade-out($gray-800, .9);
  }

  a {
    color: $white;
    font-size: 1.4rem;

    &:hover {
      color: #fff;
      background: none;
    }
  }
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;

  width: 50px;
  height: 50px;

  text-align: center;

  color: $white;
  background: fade-out($gray-800, .5);

  line-height: 50px;

  z-index: 999;
  &:focus,
  &:hover {
    color: $white;
  }
  &:hover {
    background: $gray-800;
  }
  &.active {
    // background-color: $white;
    // color: $gray-900;
  }
}

.menu-nav li a {
  &:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, .2);
  }

  &:active, &:focus {
    text-decoration: none;
  }

  & {
    font-size: 1.2rem;
    outline: none;
  }
}

//Sidebar
@media (max-width: 991px) {
  #sidebar-menu-toggle {
    display: inline;
  }

  .menu-nav li.menu-nav-item a {
    display: block;
    @include menu-nav-item-a;
    padding: 15px;
  }

  #menu-wrapper {
    @include menu-wrapper;
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    border-left: 1px solid fade-out($white, 0.9);
    display: block;
  }

  .menu-nav {
    @include menu-nav;
    position: absolute;
    top: 0;
    width: 250px;
  }

  .menu-nav > .menu-brand {
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  .menu-nav li {
    display: block;
  }

  #menu-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  nav.sticky {
    position: absolute;
    width: 250px;
    top: 0;
  }

  nav.sticky + #content {
    padding-top: 0px;
  }

}

//Topbar
@media (min-width: 992px) {
  #sidebar-menu-toggle {
    display: none;
  }

  #menu-wrapper {
    @include menu-wrapper;
    width: 100%;
    height: $topbar-height;
    display: block;
    padding: 0px;
    margin: 0px;
    z-index: 2;
  }

  .menu-nav {
    @include menu-nav;
    width: 100%;
    display: flex;
  }

  .menu-nav li > a {
    display: inline-block;
    line-height: $topbar-line-height;
    padding-top: $topbar-vertical-padding;
    padding-bottom: $topbar-vertical-padding;
    width: 100%;
    text-align: center;
    @include menu-nav-item-a;
  }

  .menu-nav > li {
    display: inline-block;
    height: $topbar-height;
    flex: 1;
    line-height: $topbar-line-height;
  }

  #menu-wrapper.active {
    width: 100%;
    right: 0px;
  }

  nav.sticky {
    position: fixed;
    width: 100%;
    top: 0;
  }

  nav.sticky + #content {
    margin-top: $topbar-height;
  }

}