  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#" id="sidebar-menu-toggle">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="menu-wrapper">
    <ul class="menu-nav">
      <li class="menu-brand">
        <a class="js-scroll-trigger" href="/"><i class="fas fa-home"></i> Home</a>
      </li>
      <% _.forEach(menu, function(i) { %><li class="menu-nav-item"><a class="js-scroll-trigger" content-src="<%- i['content-src'] %>" postload="<%- i['postload'] %>" href="<%- i.href %>"><i class="fas <%- i.icon %>"></i> <%- i.label %></a></li> <% }); %>
    </ul>
  </nav>